:root {
  --white: #ffffff;
  --green-1: rgb(62, 198, 153);
  --green-2: rgb(13, 94, 43);
  --green-3: rgb(58, 183, 60);
  --green-4: rgb(28, 143, 127);
  --green-5: rgb(2, 64, 3);
  --purple-1: rgba(147, 108, 217, 1);
  --purple-2: rgba(103, 58, 183, 1);
  --purple-3: rgba(151, 116, 213, 1);
  --dark-purple-1: rgb(81, 32, 166);
  --dark-purple-2: rgb(22, 4, 54);
  --dark-purple-3: rgb(81, 32, 166);
  --dark-purple-4: rgb(48, 33, 108);
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("https://images.unsplash.com/photo-1656170120688-2a23fe65c586?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296&q=80");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: var(--white);
}
body button {
  font-family: inherit;
  border-radius: 3rem;
  border: 0;
  color: var(--white);
  background-color: var(--green-1);
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
}
body button:hover {
  background-color: var(--green-4);
}
@media screen and (max-width: 768px) {
  body button {
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
  }
}
body header .sound-btn {
  font-size: 1rem;
  background: linear-gradient(90deg, var(--purple-1) 0%, var(--purple-2) 50%, var(--purple-3) 100%);
}
body header .sound-btn:hover {
  background: linear-gradient(90deg, var(--dark-purple-1) 0%, var(--dark-purple-2) 50%, var(--dark-purple-3) 100%);
}
body header .sound-btn:focus {
  background: linear-gradient(90deg, var(--green-2) 0%, var(--green-3) 50%, var(--green-2) 100%);
}
body header .sound-btn:active {
  background: linear-gradient(90deg, var(--green-2) 0%, var(--green-3) 50%, var(--green-2) 100%);
}
body header #home-btn,
body header #back-btn {
  font-size: 1rem;
  margin-right: 0.5rem;
  float: right;
}
body header #back-btn {
  display: none;
}
body header h1 {
  color: var(--white);
  background-image: linear-gradient(var(--green-4), var(--dark-purple-4));
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 3.2rem;
  width: 25ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2rem solid;
  font-family: monospace;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  body header h1 {
    font-size: 1.7rem;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
body main .landing-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 7rem;
  gap: 1rem;
  width: 20rem;
  height: 30%;
}
body main .landing-actions #rules-btn,
body main .landing-actions #new-game-btn,
body main .landing-actions #score-btn,
body main .landing-actions #easy-score-btn,
body main .landing-actions #medium-score-btn,
body main .landing-actions #hard-score-btn {
  display: none;
}
body main #difficulty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  width: 20rem;
}
body main #difficulty-container #easy-level-btn,
body main #difficulty-container #medium-level-btn,
body main #difficulty-container #hard-level-btn,
body main #difficulty-container #select-difficulty {
  display: none;
}
body main #difficulty-container #select-difficulty {
  font-size: 1.5rem;
  margin: 0 auto;
  color: var(--white);
  background-image: linear-gradient(var(--green-4), var(--dark-purple-4));
}
body main #rules-container {
  display: none;
  flex-direction: column;
  border-radius: 2rem;
  background: linear-gradient(90deg, var(--purple-1) 0%, var(--purple-2) 50%, var(--purple-3) 100%);
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  body main #rules-container {
    margin: 2rem 2rem 0rem 2rem;
  }
}
body main #score-container {
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;
  display: flex;
  background: linear-gradient(90deg, var(--purple-1) 0%, var(--purple-2) 50%, var(--purple-3) 100%);
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: -1rem;
}
@media screen and (max-width: 768px) {
  body main #score-container {
    margin-top: -2rem;
  }
}
body main #game-container {
  text-align: center;
  border-radius: 2rem;
  display: flex;
  background: linear-gradient(90deg, var(--purple-1) 0%, var(--purple-2) 50%, var(--purple-3) 100%);
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
}
body main #game-container .button-styles {
  background-image: linear-gradient(var(--green-4), var(--dark-purple-4));
  margin-top: 0.5rem;
  margin-right: 0.7rem;
  font-size: 1rem;
}
body main #game-container .text-styles {
  font-size: 1rem;
  background-color: green;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  body main #game-container {
    font-size: 0.8rem;
    margin-top: -4rem;
  }
  body main #game-container p {
    margin: 0;
  }
  body main #game-container h2 {
    margin-top: 1rem;
  }
}
body main #reg-container {
  text-align: center;
}
body main #reg-container #user-score-info {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(90deg, var(--green-2) 0%, var(--green-3) 50%, var(--green-2) 100%);
}
@media screen and (max-width: 768px) {
  body main #reg-container #user-score-info {
    margin: 0 2rem 0 2rem;
  }
}
body main #reg-container #score-form {
  display: none;
  background: linear-gradient(90deg, var(--purple-1) 0%, var(--purple-2) 50%, var(--purple-3) 100%);
  text-align: center;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 1rem;
}
body main #reg-container #score-form button {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  background: linear-gradient(90deg, var(--green-2) 0%, var(--green-3) 50%, var(--green-2) 100%);
}
body main #reg-container #score-form button:hover {
  background: linear-gradient(90deg, var(--green-2) 0%, var(--green-5) 50%, var(--green-2) 100%);
}/*# sourceMappingURL=index.css.map */